/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.m{
  display: flex;
  align-items: center;
  text-align: center;
  
}

div{
  display: center;
}


.card {
  padding: 2em;
}

